.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
  }
  
  .sidebar a:hover {
    background-color: #555;
    color: white;
  }
  
  .content {
    margin-left: 200px;
    padding: 16px;
    height: 1000px;
    transition: 0.5s;
  }
  
  /* Tambahkan class active untuk menandai tautan yang aktif */
  .active {
    background-color: #555;
    color: white;
  }
  